{% extends 'base.html.twig' %}


{% block body %}
    <p 
    class="text-center mt-5 display-3"
    >
        Welcome to our Employee Project
    </p>

    <div class="rounded mx-auto d-block w-75 my-5">
        <img src="{{ asset('images/welcome.jpg') }}" class="rounded mx-auto d-block w-75" alt="...">
    <div/>

{% endblock %}
