{% extends 'base.html.twig' %}

{% block title %}Hello MitarbeiterController!{% endblock %}

{% block body %}


<h1>Members</h1>
<ul>
    {% for employee in employees %}
        <li>{{ employee.firstname }}</li>
        <li>{{ employee.lastname }}</li>
    {% endfor %}
</ul>




{% endblock %}