{% extends 'base.html.twig' %}

{% block title %}Hello MitarbeiterController!{% endblock %}

{% block body %}
<style>
</style>

<div class="form-wrapper">
        <div>
            Employee was {{ fullfilledAction}} 
        </div>
</div>

{% endblock %}